@tailwind base;
@tailwind components;
@tailwind utilities;
/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.main-content {
  margin-left: 200px; /* Adjust this value to match the width of your sidebar */
  padding: 20px;
}
